.welcomeBanner {
    background-color: #e6e7ea;
    border-radius: 0.3em;
    padding: 2em;
    margin: 20px;
    text-align: center;
}

.span {
    color: #1e967e;
}

.heading {
    font-size: 3em;
    font-weight: 600;
}

.text {
    font-size: 1em;
    font-weight: 400;
}