body {
    font-family: 'Arial', sans-serif;
    color: #333333;
    background-color: #f4f4f4;
}

/* Links */
a {
    text-decoration: none;
    color: #0275d8;
}

a:hover {
    color: #0256c8;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', sans-serif;
    color: #333333;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

/* Container */
.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

/* Responsive */
@media (max-width: 768px) {}

@media (min-width: 769px) {}